.modal {
    position: fixed;
    z-index: 5;
    background-color: rgba($white, .97);
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: all .3s ease-out;
    

    &--is-visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        z-index: 22;
    }

    &__inner {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

    &__descriptions {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.2;

        @mixin atMedium {
        line-height: 1.55;
        }
    }
    &__call {
        font-weight: 450;
    }
    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.5rem;
        background-color: rgba($mainBlue, .1);;
        color: rgba($mainBlue, .8);
        border-radius: 50%;
        transform: scaleX(1.2);
        padding: 8px;
        cursor: pointer;
        transition: all .3s ease-out;

        @mixin atSmall {
            padding: 15px;
        }

        &:hover {
            background-color: rgba($mainBlue, .2);;
            color: rgba($mainOrange, .9);
        }

    }
}